# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/technologyline/public_html/admin/page-api"
PassengerBaseURI "/"
PassengerNodejs "/home/realcolorweb/nodevenv/public_html/technologyline.com.ar/admin/page-api/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
PassengerAppLogFile "/home/technologyline/public_html/admin/page-api/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END